body {
    background-color: black;
}

.imageD {
    border: 5px solid white;
    width: 100%;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.Poster {
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}
