body {
    background-color: black;
}

.imageD {
    border: 5px solid white;
    width: 100%;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.Poster {
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

#mmm {
    border: 5px solid white;
    width: 100%;
}

#Martin {
    color: white;
    width: 50%;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    margin: 100px auto 0; 
    /* margin-top: 100px;
       margin-left: auto;
       mrgin-right: auto;
       margin-bottom: 0; */
}
